{% extends 'base.html.twig' %}
{% block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
        

{% block body %}

<h2>Création nouvelle véhicule</h2>
<div>
{{form(form)}}
</div>
<div>{{message}} </div>
{% endblock %}