{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ title }}! ✅</h1>
<ul>
        {% for i,liste in listes %}
            <li>{{liste}}</li>
        {% endfor %}
</ul>
</div>
{% endblock %}
